#custom-alert{
    position: fixed;
    top: 32px;
    right: 32px;
}
.custom-alert {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border-radius: 5px;
    color: white;
    z-index: 5000;
    box-shadow: 0 5px 8px rgba(0,0,0, 0.08);
    display: flex;
    min-width: 400px;
    max-width: 450px;
    animation: slideInLeft ease 0.3s, fadeOut linear 1s 3s forwards;
}

.custom-alert--success {
    background-color: #4caf50;
}

.custom-alert--warning {
    background-color: #ff9800;
}

.custom-alert + .custom-alert{
    margin-top: 10px;
}


.custom-alert__icon {
    font-size: 24px;
    color: white;
    padding: 0 16px;
}

.custom-alert__body{
    flex-grow: 1;
}
.custom-alert__title {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.custom-alert__msg {
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.5;
    color: white;

}

.custom-alert__close{
    font-size: 26px;
    color: white;
    cursor: pointer;
    padding: 0 16px;
}
